<h2 mat-dialog-title>Quarto</h2>
<mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label>Descricao</mat-label>
            <input formControlName="descricao" matInput>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label>Número</mat-label>
            <input formControlName="numero" matInput>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label>Quantidade de lugares</mat-label>
            <input formControlName="quantidade_lugares" matInput>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label>Preço</mat-label>
            <input formControlName="preco" matInput>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [disabled]="formGroup.invalid" [mat-dialog-close]="formGroup.getRawValue()"
        cdkFocusInitial>
        Salvar
    </button>
</mat-dialog-actions>